.Rproj.user
.Rhistory
.RData
.Ruserdata
data/GSE92742_Broad_LINCS_inst_info.txt
data/GSE92742_Broad_LINCS_sig_info.txt
data/GSE92742_Broad_LINCS_sig_metrics.txt
data/omnipath_webservice_interactions__recent.tsv
data/full database.xml
preprocessing/preprocessed_data/l1000_all_genes_lvl3_drugs_with_targets_exemplar.rds
preprocessing/preprocessed_data/TF_activities/TFs_random_variances_all.rds
preprocessing/preprocessed_data/TF_activities/l1000_allgenes_lvl3_tfs.tsv
preprocessing/preprocessed_data/TF_activities/Trimmed_l1000_allgenes_lvl3_tfs.tsv
preprocessing/preprocessed_data/TF_activities/TrimmedFinal_l1000_allgenes_lvl3_tfs.tsv
preprocessing/preprocessed_data/ChemicalSims/all_total_smiles.csv
preprocessing/preprocessed_data/ChemicalSims/all_total_similarities.csv
results/viability_data_all.rds
results/vanilla_ensembles/ANN/models/
results/vanilla_ensembles/ANN/train/
results/vanilla_ensembles/ANN/train_easy
results/vanilla_ensembles/ANN/validation_easy
results/vanilla_ensembles/ANN/train_easy_Performance_perTF.csv
results/vanilla_ensembles/ANN/val_easy_Performance_perTF.csv
results/vanilla_ensembles/GCNN/train/
results/vanilla_ensembles/GCNN/train_easy
results/vanilla_ensembles/GCNN/validation_easy
results/vanilla_ensembles/GCNN/train_easy_Performance_perTF.csv
results/vanilla_ensembles/GCNN/val_easy_Performance_perTF.csv
results/vanilla_ensembles/GCNN/models/
results/vanilla/ANN/models/
results/vanilla/ANN/train/
results/vanilla/ANN/train_easy
results/vanilla/ANN/validation_easy
results/vanilla/ANN/train_easy_Performance_perTF.csv
results/vanilla/ANN/val_easy_Performance_perTF.csv
results/vanilla/GCNN/models/
results/vanilla/GCNN/train/
results/vanilla/GCNN/train_easy
results/vanilla/GCNN/validation_easy
results/vanilla/GCNN/train_easy_Performance_perTF.csv
results/vanilla/GCNN/val_easy_Performance_perTF.csv
results/vanilla/SVM/train_easy
results/vanilla/SVM/validation_easy
results/vanilla/SVM/train_easy_Performance_perTF.csv
results/vanilla/SVM/val_easy_Performance_perTF.csv
results/vanilla/KNN/train_easy
results/vanilla/KNN/validation_easy
results/vanilla/KNN/train_easy_Performance_perTF.csv
results/vanilla/KNN/val_easy_Performance_perTF.csv
results/vanilla_ensembles/SVM/train_easy
results/vanilla_ensembles/SVM/validation_easy
results/vanilla_ensembles/SVM/train_easy_Performance_perTF.csv
results/vanilla_ensembles/SVM/val_easy_Performance_perTF.csv
results/vanilla_ensembles/KNN/train_easy
results/vanilla_ensembles/KNN/validation_easy
results/vanilla_ensembles/KNN/train_easy_Performance_perTF.csv
results/vanilla_ensembles/KNN/val_easy_Performance_perTF.csv
results/A375_ensembles/models
results/A375_ensembles/preds
results/A375_ensembles/MoA
results/A375_ensembles/InteractionScores
results/A375_ensembles/EstimateEnsembles
results/A375_ensembles/all_merged_interactions_drugs.csv
results/A375_ensembles/all_merged_interactions_drugs_withsignalRange.csv
results/A375_ensembles/grads_vs_weights_A375.csv
results/A375_ensembles/test/*.png
results/FinalEnsemble/models
results/FinalEnsemble/preds
results/FinalEnsemble/MoA
results/FinalEnsemble/InteractionScores
results/FinalEnsemble/EstimateEnsembles
results/FinalEnsemble/all_merged_interactions_drugs.csv
results/FinalEnsemble/all_merged_interactions_drugs_withsignalRange.csv
results/FinalEnsemble/grads_vs_weights_VCAP.csv
results/FinalEnsemble/test/*.png
results/RandomSuffleY/models
results/RandomSuffleY/preds
results/RandomSuffleY/MoA
results/RandomSuffleY/InteractionScores
results/RandomSuffleY/EstimateEnsembles
results/RandomSuffleY/all_merged_interactions_drugs.csv
results/RandomSuffleY/all_merged_interactions_drugs_withsignalRange.csv
results/RandomSuffleY/test/*.png
results/regularizationTuneInteractionResults/error_based_inference
results/regularizationTuneInteractionResults/l1000_latest_modeltype4_*
results/regularizationTune
rresults/RandomSuffleX/models
results/RandomSuffleX/preds
results/RandomSuffleX/MoA
results/RandomSuffleX/InteractionScores
results/RandomSuffleX/EstimateEnsembles
results/RandomSuffleX/all_merged_interactions_drugs.csv
results/RandomSuffleX/all_merged_interactions_drugs_withsignalRange.csv
results/RandomSuffleX/test/*.png
results/MultipleRuns/models
results/MultipleRuns/preds
results/MultipleRuns/test/*.png
results/learningTune/models
results/ExperimentalValidation/cmap_filtered.rds
results/ExperimentalValidation/sigInfo_filtered.rds
results/ExperimentalValidation/sigInfo_shrna_filtered.rds
results/ExperimentalValidation/merged_data.rds
results/ExperimentalValidation/merged_data_cell_specific.rds
results/A549_ensembles/models
results/A549_ensembles/preds
results/A549_ensembles/MoA
results/A549_ensembles/InteractionScores
results/A549_ensembles/EstimateEnsembles
results/A549_ensembles/all_merged_interactions_drugs.csv
results/A549_ensembles/all_merged_interactions_drugs_withsignalRange.csv
results/A549_ensembles/grads_vs_weights_A549.csv
results/A549_ensembles/test/*.png
article_supplementary_info/supple_fig11_prism.png
results/A375_ensembles/interestingSamples_sorted_A375.csv
results/A549_ensembles/interestingSamples_sorted_A549.csv
results/FinalEnsemble/interestingSamples_sorted_VCAP.csv
ShinyAPP
ShinyAPP/*